.footer-contact-info ul li {
    display: inline-block;
    margin-right: 20px;
}

.contact-text-sub {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: #00a78e;
}


.icon_sm{
    width: 15px;
    height: 15px;
}

.skill_icon{
    width: 60px;
    height: 60px;
}

.equal-height {
    height: 100%;
}